#logo{
    padding: 5px;
    margin-top: 15px;
}
#logobox{
	padding: 0px!important;
}

.logo{
    height: 75px;
}

h2{
  font-family: 'Nunito Sans';
}

p{
  font-family: 'Nunito';
}

body{
  font-family: 'Nunito';
}

.main-menu .navigation {
  font-family: 'Nunito Sans';
}

.main-menu .navigation > li > a {
    color: #304460;
    text-transform: uppercase;
}
.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a, .main-menu .navigation > li.current-menu-item > a {
    color: #FF5A5A;
}
.main-menu .navigation > li > a:before {
    border-bottom: 2px solid #FF5A5A;
}
.banner-one .text-column h4 {
    color: #FF5A5A;
    font-family: 'Cabin';
    text-transform: uppercase;
}

.banner-one {
    padding: 250px 0px 0px;
}

.banner-one .text-column .inner {
    padding-top: 70px;
}

#démarrer_btn{
  border-color: #00bca8;
}

#démarrer_btn:hover{
  background-color: #00bca8;
}

.testimonials-carousel-one .text-column .text {
    font-size: 26px;
}

.scroll-to-top:hover{
	background:#3f72af;
}
.footer-upper{
	background-color: #2c2d2d;
}

.copyright{
    margin-top: 5px;
}
.fa-heartbeat
{
    color: #00bca8;
}
.footer-upper h3 {
    color: #00bca8 !important;
}

#discover{
    background: #50a3a2;
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
    height: 150px;
}

.features-section{
    padding-bottom: 0px;
}

#discover-button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #304460;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 20px;
    transition-duration: 0.25s;
    margin-top:54px;
    font-family: 'Nunito Sans'
  }
  #discover-button:hover {
    background-color: #f5f7f9;
    color: #00bca8;
  }
  #logofooter{
    width: 150px; 
  }

  .products-section{
      padding-top: 50px;
      padding-bottom: 80px;
  }
  .features-section{
    padding-top: 50px;
}

#mlegales h3{
    font-size: 18px;
    margin-top:15px;
}
/* plan selection */
.snip1404 {
    display: inline-block;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin: 20px 20px;
  }
  .snip1404 img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
  }
  .snip1404 .plan {
    margin: 0;
    width: 83.33%;
    position: relative;
    float: left;
    overflow: hidden;
    border: 3px solid #005e54;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #00bca8;
  }
  .snip1404 .plan:hover i,
  .snip1404 .plan.hover i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .snip1404 .plan:first-of-type {
    border-radius: 8px 0 0 8px;
  }
  .snip1404 .plan:last-of-type {
    border-radius: 0 8px 8px 0;
  }
  .snip1404 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .snip1404 header {
    background-color: #00bca8;
    color: #ffffff;
  }
  .snip1404 .plan-title {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0;
    padding: 20px 20px 0;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .snip1404 .plan-title:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 300px 0 0;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
  }
  .snip1404 .plan-cost {
    padding: 40px 20px 10px;
    text-align: right;
  }
  .snip1404 .plan-price {
    font-weight: 600;
    font-size: 3em;
  }
  .snip1404 .plan-type {
    opacity: 0.8;
    font-size: 0.7em;
    text-transform: uppercase;
  }
  .snip1404 .plan-features {
    padding: 0 0 20px;
    margin: 0;
    list-style: outside none none;
  }
  .snip1404 .plan-features li {
    padding: 8px 5%;
  }
  .snip1404 .plan-features i {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.5);
  }
  .snip1404 .plan-select {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  .snip1404 .plan-select a {
    background-color: #314561;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 0.75em;
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
  }
  .snip1404 .plan-select a:hover {
    background-color: #4b6994;
  }
  .snip1404 .featured {
    margin-top: -10px;
    border-color: #00bca8;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 8px;
  }
  .snip1404 .featured .plan-select {
    padding: 30px 20px;
  }
  @media only screen and (max-width: 767px) {
    .snip1404 .plan {
      width: 100%;
    }
    .snip1404 .plan-title,
    .snip1404 .plan-select a {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    .snip1404 .plan-select,
    .snip1404 .featured .plan-select {
      padding: 20px;
    }
    .snip1404 .featured {
      margin-top: 0;
    }
  }
  @media only screen and (max-width: 440px) {
    .snip1404 .plan {
      width: 100%;
    }
  }